html, body{
	margin: 0px;
	max-width: 99.36%;
	cursor: none;
}

@media screen and (max-width: 760px)
{
	html, body{
		cursor: default;
	}
}

header{
		height: 7.2vw;
}

@media screen and (orientation: landscape)
{
	header{
		overflow: hidden;
		background-color: #f44336;
		height: 7.2vw;
		width: 100%;
		padding: 0.64vw;
		top: 0;
		left: 0;
		display: inline-block;
	}
}

@media screen and (max-width: 760px) and (orientation: landscape)
{
	header{
		height: 8.2vw;
	}
}

@media only screen and (orientation:portrait){
	header{
		overflow: hidden;
		background-color: #f44336;
		height: 52vw;
		width: 100%;
		padding: 0.64vw;
		top: 0;
		left: 0;
		display: inline-block;
	}
}

content{
	display: inline-block;
	width: 100%;
	padding-bottom: 5vw;
}

footer{
	position: relative;
	background-color: #f44336;
	height: 2vw;
	width: 100%;
	bottom: 0vw;
	margin-top: -1.92vw;
	text-align: center;
	font-size: 1.28vw;
	padding: 0.32vw;
	color: #fff;
}

@media only screen and (orientation:portrait){
	footer{
		font-size: 3.2vw;
		height: 5vw;
	}
}

img {
  max-width: 20%;
  padding: 0.1vw;
  height: auto;
  border: 0.3vw solid gold;
  margin: 0.5vw auto;
  display: block;
}

svg {
  width: 1.28vw;
  top: 0.15vw;
  left: 0.15vw;
  position: fixed;
}

@media screen and (max-width: 760px)
{
	svg {
	  display: none;
	}
}

@media screen and (orientation:landscape)
{
	a:link, a:visited {
		background-color: #f44336;
		color: #fff;
		font-size: 1.4vw;
		padding: 0.64vw 0vw;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: none;
	}
}

@media only screen and (orientation:portrait){
	a:link, a:visited {
		background-color: #f44336;
		color: #fff;
		font-size: 2.8vw;
		padding: 1.28vw 0vw;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		cursor: none;
	}
}

@media screen and (max-width: 760px)
{
	a:link, a:visited {
		cursor: default;
	}
}

.header-nav a:hover, .header-nav a:active {
	background-color: #63344f;
	cursor: none;
}

@media screen and (max-width: 760px)
{
	.header-nav a:hover, .header-nav a:active {
		cursor: default;
	}
}

@media screen and (orientation:landscape)
{
	.header-title{
		font-size: 4vw;
		font-family: serif;
		color: #fff;
		text-align: center;
	}
}

@media only screen and (orientation:portrait){
	.header-title{
		font-size: 8vw;
		font-family: serif;
		color: #fff;
		text-align: center;
	}
}

@media screen and (orientation:landscape)
{
	.header-nav a{
		width: 19.8%;
		margin: 0.1%;
		float: left;
	}
}

@media only screen and (orientation:portrait){
	.header-nav a{
	width: 100%;
	margin: 1vw;
	left: 0;
	float: left;
	}
}

.content-body{
	text-align: left;
	padding-left: 1vw;
}
